
.row
  .col-md-2
    ul.nav.flex-column
      li.navbar-item
        a.navbar-link('[routerLink]'="['/ui-elements/buttons']" 'routerLinkActive'="active" '[routerLinkActiveOptions]'="{exact: true}") Buttons
      li.navbar-item
        a.navbar-link('[routerLink]'="['/ui-elements/typography']" 'routerLinkActive'="active" '[routerLinkActiveOptions]'="{exact: true}") Typography
  .col-md-10
    router-outlet