nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a('[routerLink]'="['/']") Home
    li.breadcrumb-item
      a UI Elements
    li.breadcrumb-item.active(aria-current='page') Buttons

.card
  .card-body
    h1.card-title Buttons

    button.mr-2.btn.btn-suite(type='button') Suite
    button.mr-2.btn.btn-primary(type='button') Primary
    button.mr-2.btn.btn-secondary(type='button') Secondary
    button.mr-2.btn.btn-success(type='button') Success
    button.mr-2.btn.btn-danger(type='button') Danger
    button.mr-2.btn.btn-warning(type='button') Warning
    button.mr-2.btn.btn-info(type='button') Info
    button.mr-2.btn.btn-light(type='button') Light
    button.mr-2.btn.btn-dark(type='button') Dark
    button.mr-2.btn.btn-link(type='button') Link
