.container
  .text-center.m-5
    h1.font-bold.text-white SP SUITE
    p
      a.btn.btn-suite.btn-lg('[routerLink]'="['/ui-elements/buttons']" 'routerLinkActive'="active" '[routerLinkActiveOptions]'="{exact: true}") Documentation
