h1 Typography

.card
  .card-body
    .row
      .col-md-12
        h4.card-title
          span Headings
        p
          | All HTML headings, 
          code h1
          |  through 
          code h6
          | , are available.
        .mrg-top-50
          h1 h1. Heading 1
          h2 h2. Heading 2
          h3 h3. Heading 3
          h4 h4. Heading 4
          h5 h5. Heading 5
          h6 h5. Heading 6

          span
            i.ti-wand
    .row
      .col-md-12
        h4.card-title
          span Color
        p Fonts defaulted to $default
        .mrg-top-50
          p.text-gold .text-gold - $gold
          p.text-blue-green .text-blue-green - $blueGreen
          p.text-default .text-default - $default
    .row
      .col-md-12
        h4.card-title
          span Font Weight
        p Fonts defaulted to regular
        .mrg-top-50
          p.font-regular-light-italic .font-regular-light-italic
          p.font-regular-light .font-regular-light
          p.font-regular-regular-italic .font-regular-italic
          p.font-regular-regular .font-regular
          p.font-regular-semi-bold-italic .font-regular-semi-bold-italic
          p.font-regular-semi-bold .font-regular-semi-bold
          p.font-regular-bold-italic .font-regular-bold-italic
          p.font-regular-bold .font-regular-bold
