nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-menu.mr-2.font-bold('[routerLink]'="['/']")
    i.ti-menu
  a.navbar-brand.font-bold('[routerLink]'="['/']") SP SUITE
  .navbar-text.ml-auto DASHBOARD
