nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a('[routerLink]'="['/']") Home
    li.breadcrumb-item
      a UI Elements
    li.breadcrumb-item.active(aria-current='page') Table

.card
  .card-body
    h1.card-title Table

    .row.mb-4
      .col-md-3.offset-md-7
        input.form-control(placeholder="Lorem ipsum...")
      .col-md-2
        button.btn.btn-suite.btn-block Search

    table.table.table-striped
      thead.thead-dark
        tr
          th.font-semi-bold Name
          th.font-semi-bold Name
          th.font-semi-bold Name
          th.font-semi-bold Name
          th.font-semi-bold
      tbody
        tr
          td Name
          td Name
          td Name
          td Name
          td
            a(href="") Link
        tr
          td Name
          td Name
          td Name
          td Name
          td
            a(href="") Link

        tr
          td Name
          td Name
          td Name
          td Name
          td
            a(href="") Link

        tr
          td Name
          td Name
          td Name
          td Name
          td
            a(href="") Link
